<div
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
>
  <div
    class="max-w-lg w-full mx-auto bg-white p-8 rounded-md shadow-lg h-[95vh] overflow-y-auto scrollbar-custom"
  >
    <form [formGroup]="newForm" (ngSubmit)="onSubmit()">
      <div class="text-center mb-6">
        <h1 class="text-3xl font-semibold text-primary">New Product</h1>
      </div>

      <!-- Loading Spinner -->
      <div
        *ngIf="isLoading"
        class="absolute inset-0 flex items-center justify-center bg-white bg-opacity-80 z-10"
      >
        <mat-progress-spinner
          mode="indeterminate"
          color="primary"
          [diameter]="50"
        ></mat-progress-spinner>
        <span class="ml-4 text-lg text-gray-700">Uploading...</span>
      </div>

      <!-- Input fields -->
      <app-text-input
        *ngIf="false"
        label="Id"
        formControlName="id"
        type="number"
      ></app-text-input>
      <app-text-input
        label="Name"
        formControlName="name"
        type="text"
      ></app-text-input>
      <app-text-input
        label="Description"
        formControlName="description"
        type="text"
      ></app-text-input>
      <app-text-input
        label="Price"
        formControlName="price"
        type="number"
        (input)="ensureMinValue('price', 0.01)"
      ></app-text-input>
      <app-text-input
        label="Quantity in Stock"
        formControlName="quantityInStock"
        type="number"
        (input)="ensureMinValue('quantityInStock', 1)"
      ></app-text-input>
      <app-text-input
        label="Type"
        formControlName="type"
        type="text"
      ></app-text-input>
      <app-text-input
        label="Brand"
        formControlName="brand"
        type="text"
      ></app-text-input>
      <app-text-input
        *ngIf="false"
        label="PicUrl"
        formControlName="pictureUrl"
        type="text"
      ></app-text-input>

      <div class="mb-4">
        <!-- Field for uploading picture -->
        <label class="block text-sm font-medium text-gray-700 text-center"
          >Picture</label
        >
        <div class="mt-2 flex flex-col items-center gap-4">
          <!-- Display the image preview -->
          <img
            *ngIf="imagePreview"
            [src]="imagePreview"
            alt="Selected Image"
            class="h-32 w-32 object-cover rounded-md border border-gray-300"
          />
          <!-- File input -->
          <input
            type="file"
            (change)="onFileSelected($event)"
            accept="image/*"
            class="block w-auto text-sm text-slate-950 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-primary file:text-indigo-700 hover:file:bg-primary-dark"
          />
        </div>
      </div>

      <!-- Validation errors -->
      @if (validationErrors) {
      <div class="mb-3 p-4 bg-red-100 text-red-600">
        <ul class="list-disc px-3">
          @for (error of validationErrors; track $index) {
          <li>{{ error }}</li>
          }
        </ul>
      </div>
      }

      <!-- Buttons -->
      <button
        [disabled]="newForm.invalid"
        mat-flat-button
        type="submit"
        class="w-full py-2 bg-primary text-white rounded-md shadow hover:bg-primary-dark transition"
      >
        Save new Product
      </button>
    </form>
  </div>
</div>
