<div class="min-h-screen">
  <mat-tab-group class="bg-white">
    <mat-tab label="Orders">
      <div
        class="flex justify-between items-center mt-2 max-w-screen-2xl mx-auto"
      >
        <h2 class="text-2xl font-semibold">Customer orders</h2>
        <mat-form-field appearance="outline" class="mt-2">
          <mat-label>Filter by status</mat-label>
          <mat-select (selectionChange)="onFilterSelect($event)">
            @for (status of statusOptions; track $index) {
            <mat-option [value]="status">{{ status }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="p-0">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" class="bg-white">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>No.</th>
              <td mat-cell *matCellDef="let order">{{ order.id }}</td>
            </ng-container>

            <ng-container matColumnDef="buyerEmail">
              <th mat-header-cell *matHeaderCellDef>Buyer email</th>
              <td mat-cell *matCellDef="let order">{{ order.buyerEmail }}</td>
            </ng-container>

            <ng-container matColumnDef="orderDate">
              <th mat-header-cell *matHeaderCellDef>Date</th>
              <td mat-cell *matCellDef="let order">
                {{ order.orderDate | date : "short" }}
              </td>
            </ng-container>

            <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef>Total</th>
              <td mat-cell *matCellDef="let order">
                {{ order.total | currency }}
              </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let order">{{ order.status }}</td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let order">
                <div class="flex gap-2">
                  <button
                    matTooltip="View"
                    mat-icon-button
                    routerLink="/orders/{{ order.id }}"
                  >
                    <mat-icon color="accent">visibility</mat-icon>
                  </button>
                  <button
                    matTooltip="Refund"
                    [disabled]="order.status === 'Refunded'"
                    (click)="openConfirmDialog(order.id)"
                    mat-icon-button
                  >
                    <mat-icon color="warn">undo</mat-icon>
                  </button>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-paginator
            class="bg-white"
            [pageSizeOptions]="[5, 10, 20]"
            [length]="totalItems"
            [pageSize]="orderParams.pageSize"
            (page)="onPageChange($event)"
            showFirstLastButtons
          >
          </mat-paginator>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Product">
      <br />
      @if (products && products.count > 0) {
      <div class="flex flex-col gap-3">
        <div class="flex justify-between">
          <mat-paginator
            class="bg-white"
            (page)="handlePageEvent($event)"
            [length]="products.count"
            [pageSize]="shopParams.pageSize"
            [showFirstLastButtons]="true"
            [pageSizeOptions]="pageSizeOptions"
            [pageIndex]="shopParams.pageNumber - 1"
            aria-label="Select page"
          >
          </mat-paginator>

          <form
            #searchForm="ngForm"
            (ngSubmit)="onSearchChange()"
            class="relative flex items-center w-full max-w-md mx-4"
          >
            <input
              type="search"
              class="block w-full p-4 text-sm text-gray-900 border border-gray-300 rounded-lg"
              placeholder="Search"
              name="search"
              [(ngModel)]="shopParams.search"
            />
            <button
              mat-icon-button
              type="submit"
              class="absolute inset-y-0 right-8 top-2 flex items-center pl-3"
            >
              <mat-icon>search</mat-icon>
            </button>
          </form>

          <div class="flex gap-3">
            <button
              class="match-input-height"
              mat-stroked-button
              (click)="openFiltersDialog()"
            >
              <mat-icon>filter_list</mat-icon>
              Filters
            </button>
            <button
              class="match-input-height"
              mat-stroked-button
              [matMenuTriggerFor]="sortMenu"
            >
              <mat-icon>swap_vert</mat-icon>
              Sorts
            </button>
            <button
              mat-flat-button
              type="button"
              class="match-input-height py-2 bg-primary text-white rounded-md shadow hover:bg-primary-dark transition"
              (click)="openNewDialog()"
            >
              New Product
            </button>
          </div>
        </div>

        <!-- <div class="grid grid-cols-5 gap-4">
            @for (product of products.data; track product.id) {
            <app-product-item [product]="product"></app-product-item>
            }
          </div> -->
      </div>

      <mat-menu #sortMenu="matMenu">
        <mat-selection-list
          [multiple]="false"
          (selectionChange)="onSortChange($event)"
        >
          @for (sort of sortOptions; track $index) {
          <mat-list-option
            [value]="sort.value"
            [selected]="shopParams.sort === sort.value"
          >
            {{ sort.name }}
          </mat-list-option>
          }
        </mat-selection-list>
      </mat-menu>
      } @else {
      <app-empty-state
        message="No products match this filter"
        icon="filter_alt_off"
        actionText="Reset filters"
        (action)="resetFilters()"
      />
      }

      <div class="mat-elevation-z8 mt-4">
        <table mat-table [dataSource]="productDataSource" class="bg-white">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let product">{{ product.id }}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let product">{{ product.name }}</td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let product">
              {{ product.description }}
            </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let product">
              {{ product.price | currency }}
            </td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let product">{{ product.type }}</td>
          </ng-container>

          <ng-container matColumnDef="brand">
            <th mat-header-cell *matHeaderCellDef>Brand</th>
            <td mat-cell *matCellDef="let product">{{ product.brand }}</td>
          </ng-container>

          <ng-container matColumnDef="quantityInStock">
            <th mat-header-cell *matHeaderCellDef>Quantity</th>
            <td mat-cell *matCellDef="let product">
              {{ product.quantityInStock }}
            </td>
          </ng-container>

          <!-- <ng-container matColumnDef="pictureUrl">
            <th mat-header-cell *matHeaderCellDef>PicUrl</th>
            <td mat-cell *matCellDef="let product">
              {{ product.pictureUrl }}
            </td>
          </ng-container> -->

          <ng-container matColumnDef="pictureUrl">
            <th mat-header-cell *matHeaderCellDef>Picture</th>
            <td mat-cell *matCellDef="let product">
              <img
                [src]="product.pictureUrl"
                [alt]="product.name"
                class="my-2 h-16 w-16 object-cover rounded-md"
              />
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let product">
              <div class="flex gap-2">
                <button
                  matTooltip="View"
                  mat-icon-button
                  routerLink="/shop/{{ product.id }}"
                >
                  <mat-icon color="accent">visibility</mat-icon>
                </button>
                <button
                  matTooltip="Edit"
                  mat-icon-button
                  (click)="openEditDialog(product)"
                >
                  <mat-icon color="warn">edit</mat-icon>
                </button>
                <button
                  matTooltip="Delete"
                  mat-icon-button
                  (click)="openDeleteDialog(product.id)"
                >
                  <mat-icon color="warn">delete</mat-icon>
                </button>

                <!-- <button
                  matTooltip="Delete"
                  mat-icon-button
                  (click)="deleteProduct(product.id)"
                >
                  <mat-icon color="warn">delete</mat-icon>
                </button> -->
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="productDisplayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: productDisplayedColumns"
          ></tr>
        </table>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
