
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/_LayoutAdmin.cshtml";
}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <h1 class="text-center">Index Admin PMQ</h1>
</div>
